.Notifications {
  border: 2px dashed #e0354b;
  padding: 2rem;
  width: 30%;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

[data-notification-type="urgent"] {
  color: red;
}

[data-notification-type="default"] {
  color: blue;
}

.menuItem {
  position: absolute;
  right: 1rem;
}
